@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 5vh calc(50vw - 21ch);
}

.fls-card {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 20px;
  max-width: 42ch;
}

.fls-item {
  font-size: 1.5rem;
}

.fls-target {
  margin: 10px 0 15px;
}

.fls-actions {
  text-align: center;
}

.fls-actions button {
  margin: 0 5px;
}